
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(d81db24681b48f43e52bbf342652c775.jpg) ;
    background-size: cover;
    background-position:center;

}
.sing-up-form{
    width: 300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align:center;
}
.sing-up-form h1{
    color:rgb(2, 36, 68);
    margin-bottom: 30px;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;

}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline: none;
    cursor: pointer;
}
.Singup-btn{
    background-color: #1c8adb;
}
.facebook-btn{
    background-color: #21afde;

}
a{
    text-decoration: none;
}
hr{
    marging-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;


}
img{
    width: 70px;
    margin-top: -50px ;

}


/*--------Start-footer----*/



footer{
    text-align: end;
    padding:0%;
    padding-bottom: 5px;
    background-color: rgb(59, 38, 38);
    color: #fff;
    height: 80px;
    
}
footer h6{
    text-align: center;
    font-size: 16px;
    color: rgb(0, 95, 95);
}

/*--------end-footer----*/
